@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  align-items: center;
  background-color: #265852;
  padding: 1rem;
  
}

.navbar-left {
  display: flex;
  gap: 1rem;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  color: #c4dad2;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #707c78;
}

.navbar-right a {
  background-color: #c4dad2;
  padding: 10px;
  border-radius: 10px;
  color: #61887c;
  transition: background-color 0.3s ease;
}

.navbar-right a:hover {
  background-color: #141615;
  padding: 10px;
  border-radius: 10px;
  /* color: rgb(231, 224, 224); */
}

.username {
  font-family: "Cedarville Cursive", cursive;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  color: #c4dad2;
}
